@mixin header {
    background-image: url(../img/img\ \(2\).png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    }

@mixin header-mask {
    background-image: url(../img/img\ \(1\).png);
    opacity: 0.8;
}

@mixin navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid $color_6;
}

@mixin logo {
    width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

@mixin nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 -1px;
}

@mixin nav-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 1px;}

@mixin nav-link { 
text-transform: uppercase;
font-family: $font_1;
font-size: $fs6;
font-weight: 600;
color: $color_1;
padding: 35px 34px;
}

@mixin nav-link-hover {
    border-bottom: 3px solid $color_6;
}

@mixin nav-link-active {
    border-bottom: 3px solid $color_16;
    }

@mixin main-title {
    font: $font_1;
    font-size: $fs1;
    color: $color_1;
    text-align: center;
    width: 1170px;
    margin: 0 auto 42px;
}

@mixin text {
    color: $color_1;
    font-family: $font_1;
    font-size: $fs4;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 80px;
    width: 1170px;
    }

@mixin btn {
     display: block; 
     margin: auto;   
     width: 370px;
     padding: 20px;
     background-color: $color_4;
     cursor: pointer;

     position: relative;

     animation-name: btn;
     animation-duration: 22s;
     animation-iteration-count: infinite;
     animation-direction: normal;
     animation-timing-function: ease-in-out;
    }

    @keyframes btn {
        0% {
          font-size: $fs3;
          transition-duration: 0.2s;
        }
        25%{
            font-size: $fs2;
            transition-duration: 0.2s;
        }
        50% {
            
            font-size: $fs11;
            transition-duration: 0.3s;
            transition-delay: 0.2s;
        }
        65%{
            font-size: $fs8;
            transition-duration: 0.3s;

        }
        75% { 
            font-size: $fs4;
            transition-duration: 0.2s;
        }
        85% {
            font-size: $fs3;
            transition-duration: 0.2s;
        }
        100% {
            
            font-size: $fs4;
            transition-duration: 0.3s;
            transition-delay: 0.4s;
          
        }
      }

@mixin btn-text {
        color: $color_1;
        font-family: $font_1;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        }

@mixin btn-hover {
  animation-play-state: paused;
 }
    
@mixin btn-active {
    box-shadow: 10px 20px 40px 40px rgb(255, 67, 67);
    border: 1px transparent;
    transition-duration: 0.01s;
                             }

@mixin btn-link-hover {
    color: $color_11;
    font-size: $fs2;
    transition: 0.3s;
}

@mixin first-three{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 -31px;
    margin-bottom: 89px;
}

@mixin second-three {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 -31px;
}

@mixin card-wrap-inform {
    display: flex;
    flex-direction: column;
    width: 370px; 
    margin: 0 31px; 
}

@mixin card-img-inform {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 55px;
}

@mixin card-title-inform {
    font-family: $font_1;
    font-size: $fs4;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 42px;
    }

@mixin inform-card-text {
    font-family: $font_1;
    font-weight: 400;
    font-size: $fs5;
    text-align: center;
    }
 @mixin grid-item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
@mixin grid-hover { 
    background:rgba(255, 67, 67, 0.5);
    border: 2px solid $color_1;
}
@mixin grid-active {
    background: rgba(185, 12, 12, 0.8);
    border: 2px solid $color_1;
}

@mixin icons { 
    display: flex;
    flex-direction: row;
    }
@mixin icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border: 1px solid $color_9;
    }
@mixin fa-brands {
    color: $color_9;
            }
@mixin h4 {
font-family: $font_1;
font-size: $fs5;
color: $color_1;
text-align: center;
font-weight: 700;
text-transform: uppercase;
}     

 @mixin footer-text {
            font-family: $font_1;
            font-weight: 400;
            font-size: $fs5;
            text-align: center;
            color: $color_1;
    }

@mixin footer-section {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    }

@mixin card-footer {
    width: 370px;
    display: flex;
    flex-direction: column;
}    

@mixin text-copyright {
        font-family: $font_1;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        color: $color_14;
            span {
            color: $color_1;}
     }
