$color_1: #FFFFFF;
$color_2: #2D3033;
$color_3: #6C7279;
$color_4: #FF4343;
$color_5: #000000;
$color_6: #BABBC5;
$color_7: #252B49;
$color_8: #E71414;
$color_9: #C6CBCD;
$color_11: #B90C0C;
$color_12: #353C65;
$color_13: #2C3154;
$color_14: #808080;
$color_15: #7E5D6F;
$color_16: #E71414;


$font_1: "Raleway", sans-serif;
$font_2: "Cardo", sans-serif;

$fs1: 64px;
$fs2: 36px;
$fs3: 30px;
$fs4: 24px;
$fs5: 18px;
$fs6: 13px;
$fs7: 48px;
$fs8: 14px;
$fs9: 12px;

