footer {
    background-color: $color_13;
    padding: 20px 0;
    }
    
.text-copyright {
    width: 370px;
    display: block;
    margin: auto;
     p {
        @include text-copyright     
     }
}