header {
    @include header;
    padding-bottom: 120px;
    position: relative;
	
}

.header-body::after{
    @include header-mask;
    content: ' ';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    }

.navigation-wrap {
    @include navigation;
    margin-bottom: 120px;
    position: relative;
    z-index: 5;
    
}
.logo-wrap { 
    @include logo
}
.menu {
    .nav-list {
        @include nav-list;
    .nav-list-item{
        @include nav-list-item;
    .nav-link {
        @include nav-link
    }
    }
    }
}
.nav-link:hover {
    @include nav-link-hover
      }

.nav-link:active {
    @include nav-link-active;
    color: #E71414;
    }


.main-content {
    position: relative;
    z-index: 5;
    .main-title {
        @include main-title;
                   }
    .text p {
        @include text
    }
    .btn-header {
        @include btn;
        .btn-link{
            @include btn-text
        }

    }
}

.btn-header:hover {
    @include btn-hover
}

.btn-header:active {
    @include btn-active
}

.btn-link:hover {
    @include btn-link-hover
}


