@import './nullstyle';
@import './cdn';
@import './var';
@import './mixins';
@import './header.scss';
@import './inform.scss';
@import './project-name.scss';
@import './workers.scss';
@import './swiper.scss';
@import './download.scss';
@import './contact.scss';
@import './footer.scss';
@import './tablet-media.scss';
@import './mobile-media.scss';


html {
    font-family: "Raleway", "Cardo", sans-serif;
}

.container{
    max-width:1170px;
    margin: 0 auto;
    
}