@import './nullstyle';
@import './cdn';
@import './var';
@import './mixins';
@import './swiper.scss';
@import './header.scss';


html {
    font-family: "Raleway", "Cardo", sans-serif;
}

.container{
    max-width: 11700px;
    padding: 0 15px;
    margin: 0 auto;
}