.swiper {
    height: 535px;
    width: 100vw;
    position: relative;
    }

.container-s {
    max-width: 1170px;
}

.swiper-list {
    overflow: hidden;
}
.swiper-track {
    display: flex;
    min-width: 0;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    min-width: 0;

}
.img-slider-wrapper{
    display: flex;
    min-width: 0;
       .img-slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    width: 741px;
} 
}

.left-part-slider-1 {
    @include left-part-slider;
    background-color: $color_15}

.left-part-slider-2 {
        @include left-part-slider;
        background-color: $color_17}

.left-part-slider-3 {
@include left-part-slider;
background-color: $color_19;}

.left-part-slider-4 {
@include left-part-slider;
background-color: $color_20;}

.left-part-slider-5 {
@include left-part-slider;
background-color: $color_18;}

        
    .slider-title {
        font-family: $font_2;
        font-size: $fs2;
        font-style: italic;
        color: $color_1;
        text-align: left;
        font-weight: 400;
        width: 471px;;
    }
    .slider-text {
        font-family: $font_1;
        font-weight: 700;
        font-size: $fs6;
        color: $color_1;
        text-align: left;
        width: 471px;
    }

.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
    position: absolute;
    top: 50%;
    z-index: 10;
}
.swiper-pagnition-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
    position: absolute;
    top: 50%;
    z-index: 10;
    }

.swiper-pagination{
    bottom: 0;
    color: $color_15;}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: $fs3;
    color: $color_15;        
}
